
{% extends 'base.html' %}

{% block title %}
Gagan Mathematics-Lending the helping hand
{% endblock %}

{% block content %}
    <div id='container12'>
      <div id='child2'>
    <h3 id='r10'>About Gagan Mathematics</h3>
    <p id='r11'>Gagan Mathematics was founded for a noble cause—a purpose to change the way education is perceived and delivered. We have started this venture as a purpose of easing the Mathematics subject. -->

      We try to facilitate the right kind of education to the students together. As an organization, GM has a simple HR philosophy, “Students first!!!,” because only if the students are happy and content then only they will be guided towards success.
      
      We tend to develop a very strong work ethic over a period of time. We aim for perfection in all undertaken tasks and have developed a culture that facilitates this. Gagan Mathematics is a renowned coaching institute for Maths in Sirhind for class 9th 10th 11th 12th & BA , Bsc / Msc ,BCA , B.Tech .We have 5 years teaching experience in Mathematics subject . We are leading coaching institute and centre for maths in Sirhind . We serve in math classes since last few years .Our maths institute is no 1 coaching institute giving coaching to different classes. If you are looking for best maths teacher or tutor in Sirhind then join Gagan Mathematics for results like never before.</p>
    </div>

    <div id='child2'>
      <h3 id='r12'>Contact Us (Call @ +91 9464945293 or Email-gaganmathematics@gmail.com)</h3>
        <iframe id='k1' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3433.013446899546!2d76.38963431460827!3d30.633578597456665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39101c9139282635%3A0xd21f829ab1fe45f4!2sSaini%20Enterprises!5e0!3m2!1sen!2sin!4v1589699624901!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div> 
    </div> 

    <div id='child2'>
      <h3 id='r13'>Careers</h3>
      <p id='r11'>Sorry! We do not have any job offers as of now.</p>
    </div>

 {% endblock %}

