{% extends 'base.html' %}

{% block title %}
New Student Registration
{% endblock %}

{% block content %}
<div id="backdrop1"></div>
<div id="container4">
    <br>
      <form method="POST" action="{% url 'add_user_data' %}">
    <b id='k'>Enter User Name : </b>
    <input type='text' size="60" id='e1' name = 'name' required>

    <br><br>
    <b id='k7'>Please Select Class :     </b>
    <select id="Selclass" name = 'classes' required>
      <option>Select</option>
      <option>10th</option>
      <option>12th</option>
      <option>BCA & MCA</option>
      <option>B.Sc & M.Sc</option>
      <option>B.Tech</option>
  </select>
  <br><br>
  <b id='k2'>Enter your Email :</b>
  <input type='text' id='e1' name="email" size="60" required>
  <br><br>
  <b id='k3'>Enter your Mobile Number :</b>
  <input type='text' id='e1' name="mobile" size="10" required>
  <br><br>
  <b id='k4'>Create your Password :</b>
  <input type='text' id='e1' name="password" size="60" required>
  <br><br>
          <b id='k5'>Enter your Address:</b>
  <input type='text' size="60" id='e1' name="address" required>
<br><br>
          <input type="submit" id='e2' value="Register Now!">



</form>
    <a href="{% url 'home' %}"><button id='e3'>Cancel</button></a>
    </div>

<div id="container42"></div>

{% if messages %}
        {% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>
let backdrop1=document.getElementById("backdrop1");
function Toggle_Backdrop1()
{
  backdrop1.classList.toggle("visible");
};
        let cont42=document.getElementById("container42");
        cont42.classList.toggle("visible");
        Toggle_Backdrop1();
        cont42.innerHTML  =`
       <h3 id='h42'> {{ message }} </h3>
        <a href="{% url 'home' %}"><button id='b42'> ok </button></a>
       `;
</script>
{% else %}
<script>
let backdrop1=document.getElementById("backdrop1");
function Toggle_Backdrop1()
{
  backdrop1.classList.toggle("visible");
};
        let cont42=document.getElementById("container42");
        cont42.classList.toggle("visible");
        Toggle_Backdrop1();
        cont42.innerHTML  =`
       <h3 id='h42'> {{ message }} </h3>
        <a href="{% url 'add_user_data' %}"><button id='b42'> Try Again </button></a>
       `;
</script>
{% endif %}

{% endfor %}

    {% endif %}

{% endblock %}

