{% extends 'base.html' %}

{% block title %}
Gagan Mathematics-Lending the helping hand
{% endblock %}

{% block content %}

    <section id='container12'>
      <div id='child2'>
        <h3 id='r10'>CLASSES TAUGHT </h3>
        <p id='r11'>We deal in teaching Mathematics to classes 9th, 10th, 11th, 12th, BCA, MCA, B.Sc, M.Sc and B.Tech.</p>
      </div>

      <div id='child2'>
        <h3 id='r12'>WHY US </h3>
        <p id='r12-1'><b>THE LEARNING DIFFERENCE</b></p>
        <p>Gagan Mathematics is the only after-school tutoring facility that focuses on cognitive development through a Cognitive Learning approach. This style of learning encourages students to use their brains more effectively by building critical thinking skills, reflective learning techniques, and the ability to transfer new skills. Most importantly, this learning method helps students develop the skills to tackle new challenges by understanding how to reach solutions to problems.</p>
  
        <p id='r12-2'><b>HOW WE HELP</b></p>
        <p>At Gagan Mathematics, we focus on helping your child build a foundation that leads to a love for learning and lasting results. With tutoring for Mathematics subject and a variety of specialized programs your child can build skills and gain confidence in the areas he or she needs for success.</p>
    
        <p id='r12-2'><b>DYNAMIC ASSESSMENT</b></p>
        <p>Our unique Dynamic Assessments are designed to help us understand how your child learns, uncovering his or her undiscovered potential, thinking skills, learning weaknesses, and unique learning style. Our Education coordinators use this information to create a customized tutoring program that meets your child’s unique needs to reach his or her full potential. Above all else, these assessments are designed to be interactive and fun, creating a stress-free environment for your child.</p>

      </div>

      <div id='child2'>
        <h3 id='r13'>TUTORING FAQ's</h3>
        <p id='r13-1'><b>TUITION PRICING</b></p>
        <p>Gagan Mathematics charges a competitive rate that is consistent with professionally trained supplemental education tutoring companies.

      
          The total monthly cost will vary according to the duration of your child's class. Most students attend a minimum of 1-hour class everyday except on Sunday, equaling about 6 hours of instruction a week.</p>
        <p id='r13-2'><b>HOW TO ENROL</b></p>
        <p>STEP 1: Contact Gagan Mathematics via Email or Phone call and book an appointment.
          <br>
          STEP 2: Visit the Coaching center at the allotted time.
          <br>
          STEP 3: Schedule a dynamic assessment of your child.
          <br>
          STEP 4: Learn about your child's classes.
          <br>
          STEP 5: Choose your child's class schedule.
        </p>

        </div>
        



{% endblock %}

